{% extends 'animals/base.html' %}

{% block title %}{{ page_title }}{% endblock %}
{% block heading %}{{ page_title }} ({{ total_count }} total){% endblock %}

{% block content %}
    {% if animals %}
    <table borde="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Weight</th>
                <th>Born in Captivity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for animal in animals %}
            <tr>
                <td><a href="{{ animal.get_absolute_url }}">{{ animal.name }}</a></td>
                <td>{{ animal.age }}</td>
                <td>{{ animal.weight }}</td>
                <td>{{ animal.born_in_captivity|yesno:"Yes,No" }}</td>
                <td>
                    <a href="{% url 'animals:animal-update' animal.pk %}">Edit</a>
                    <a href="{% url 'animals:animal-delete' animal.pk %}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    <p>
        Page{{ page_obj.number }} of {{ paginator.num_pages }}
        {% if page_obj.has_previous %}
            | <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% if page_obj.has_next %}
            | <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    </p>

    {% else %}
        <p>No animals found.</p>
    {% endif %}


{% endblock %}